/* шрифты */
@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas.woff2') format('woff2'),
		url('../fonts/Bebas.woff') format('woff'),
		url('../fonts/Bebas.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
		url('../fonts/HelveticaNeue.woff') format('woff'),
		url('../fonts/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
		url('../fonts/HelveticaNeue-Light.woff') format('woff'),
		url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: #fefefe;
	font-size: 12px;
	font-family: 'HelveticaNeue', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}

/* header */
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;
}

/* класс, добавляющийся при скролле  */
.header--fixed.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}

.header__inner {
	height: 78px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link {
	display: inline-block;

	transition: all 0.8s;
}

.logo-link:hover {
	transform: scale(1.1);
}

/* nav */
.menu {
	display: flex;
	padding: 35px 0 28px;
}

.menu__list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
}

.menu__item {
	margin-right: 27px;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__link {
	text-transform: uppercase;
	color: #b9b9b9;
	font-family: 'Bebas', sans-serif;
	font-size: 16px;
	word-spacing: 3px;

	transition: all 0.5s;
}

.menu__link:hover,
.menu__link--active {
	color: rgb(232, 102, 60);
}

.menu__btn {
	display: none;
	position: relative;

	border: none;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background-color: transparent;
	cursor: pointer;
}

.menu__btn::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 5px;

	width: 30px;
	height: 4px;
	border-radius: 5px;
	background-color: rgba(232, 102, 60, 0.502);
	box-shadow: 0 10px 0 rgba(232, 102, 60, 0.502), 0 20px 0 rgba(232, 102, 60, 0.502);

	transition: all 0.5s;
}

.menu__btn:hover::before {
	background-color: rgb(232, 102, 60);
	box-shadow: 0 10px 0 rgb(232, 102, 60), 0 20px 0 rgb(232, 102, 60);
}

/* decor */
.decor {
	position: relative;
}

.decor::before,
.decor::after {
	content: "";
	position: absolute;
	top: 0;
	width: calc(50% - 490px);
	height: 60px;
	background-color: rgba(232, 102, 60, 0.502);
}

.decor::before {
	left: 0;
}

.decor::after {
	right: 0;
}

.decor--long::before,
.decor--long::after {
	height: 100%;
}

/* общие свойства для заголовков */
.title {
	font-family: 'Bebas', sans-serif;
	text-transform: uppercase;
	word-spacing: 3px;
	font-size: 18px;
}

/* main  */
.main {
	padding-top: 78px;
}

/* section sliders */

/* slider__top */
.slider {
	position: relative;
	margin-bottom: 17px;
}

.slider__image {
	max-width: 100%;
	width: 960px;
	height: 400px;
	object-fit: cover;
}

.slider__content {
	position: absolute;
	left: 37px;
	bottom: 32px;

	background-color: rgba(232, 102, 60, 0.502);

	color: #fff;
	padding: 25px 20px;
	max-width: 413px;
	min-height: 124px;
}

.slider__title {
	margin-bottom: 20px;
}

.slider__text {
	line-height: 14px;
}

/* arrows  */
.slick-arrow {
	position: absolute;
	top: 180px;

	width: 36px;
	height: 52px;

	background-position: center;
	background-repeat: no-repeat;

	z-index: 5;
}

.slick-arrow.slick-disabled {
	cursor: no-drop;
	opacity: 0.5;
}

.slick-prev {
	left: 25px;
	z-index: 5;
}

.slick-next {
	right: 25px;
}

.slick-prev:before,
.slick-next:before {
	display: none;
}

/* slider__bottom */
.slider__bottom .slick-track{
	transform: translate3D(0, 0, 0) !important;
	margin: 0 -50px;
}

.slider__bottom-item {
	opacity: 0.5;
	margin-right: 24px;

	transition: all 1s;
}

.slider__bottom-image {
	width: 140px;
	height: 120px;
	object-fit: cover;
}

.slider__bottom .slick-center {
	opacity: 1;
	transition: all 0.5;
}

/* section features */
.features {
	padding-top: 40px;
}

.features__row {
	display: flex;
}

.features__column {
	max-width: 33.333%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding-right: 15px;
}

.features__title {
	display: inline-block;
	padding-left: 70px;
	min-height: 47px;

	color: rgb(232, 102, 60);
	line-height: 24px;
	word-spacing: 3px;

	margin-bottom: 20px;

	transition: all 0.5s;

	background-size: 46px;
	background-position: left;
	background-repeat: no-repeat;
}

.features__title:hover {
	color: rgba(232, 102, 60, 0.502);
}


.features__text {
	flex: 1 1 auto;
	max-width: 277px;

	line-height: 16px;
	color: #414141;

	margin-bottom: 15px;
}

.features__link {
	align-self: start;

	display: inline-block;
	padding: 3.5px 15px 3.5px 13px;

	font-family: 'Bebas', sans-serif;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	background-color: rgb(232, 102, 60);

	transition: ease 0.5s;
}

.features__link:hover {
	background-color: rgba(232, 102, 60, 0.502);
}

/* works */
.works {
	padding: 45px 0 50px;
}

.works__label {
	margin-bottom: 25px;
	background-image: url(../images/works/line-bg.png);
}

.works__label-text {
	color: rgb(232, 102, 60);
	padding-right: 25px;
	background-color: #fefefe;
}

.works__row {
	display: flex;
	justify-content: space-between;
}

.works__column {
	max-width: 220px;
}

.works__link {
	display: inline-block;
}

.works__content {
	margin-top: -3px;

	padding: 12px 10px;

	border: 1px solid #b9b9b9;
	border-top: none;

	font-family: 'Bebas', sans-serif;
	line-height: 18px;
}

.works__title {
	display: block;
	font-size: 16px;
	line-height: 18px;
	color: #b9b9b9;

	margin-bottom: 5px;

	transition: all 0.3s;
}

.works__title:hover {
	color: rgba(232, 102, 60, 0.502);
}

.works__subtitle {
	font-size: 11px;
	line-height: 18px;
	color: rgb(232, 102, 60);
}

/* footer */
.footer__inner {
	padding: 35px 0 30px 35px;
	min-height: 260px;
	background-color: rgb(232, 102, 60);
	color: #fff;
}

.footer__row {
	display: flex;
}

.footer__column {
	width: 33.333%;
}

.footer__column--left {
	padding-left: 35px;
}

.footer__title {
	font-size: 20px;
	margin-bottom: 25px;
}

.footer__text {
	max-width: 260px;
	font-size: 12px;
	margin-bottom: 15px;
}

.footer__text--short {
	max-width: 220px;
}

.footer__text:last-child {
	margin-bottom: 0;
}

.footer__text-link {
	display: inline-block;
	font-family: 'HelveticaNeue-Light', sans-serif;
	color: #f0ac9a;
}

.footer__email,
.footer__phone {
	display: block;
	font-style: normal;
}

.footer__email .footer__text-link,
.footer__phone .footer__text-link {
	color: #fff;
}

.footer__text-link {
	position: relative;
}

.footer__text-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: transparent;

	transition: all 0.3s;
}

.footer__text-link:hover.footer__text-link::after {
	background-color: #f0ac9a;
}

.footer__sosial-link {
	position: relative;
	display: inline-block;
	margin-right: 3px;

	transition: all 0.3s;
}

.footer__sosial-link:last-child {
	margin: 0;
}

.footer__sosial-link:hover {
	transform: translateY(1px);
}

.footer__sosial-image {
	width: 31px;
	height: 30px;
}